<div style="text-align: center;">
  <h1>Carga del almacén de datos</h1>

  <div class="flex">
    <div class="responsiveTxt">
      Seleccione fuente:
    </div>

    <div class="responsiveTxt" style="text-align: left;">
      <mat-checkbox>Seleccionar todas</mat-checkbox> <br>
      Catalunya <br>
      Comunitat Valenciana <br>
      Euskadi <br>
    </div>
  </div>

  <div class="flex" style="gap: 30px;">
    <button mat-button>Cancelar</button>
    <button mat-button>Cargar</button>
  </div>

  <div class="responsiveTxt">
    Resultados de la carga:
  </div>

  <div>
    <textarea ng-model="string" ng-name="text"></textarea>
  </div>


</div>


<mat-checkbox>Seleccionar todas</mat-checkbox>
