<div style="text-align: center;">
  <h1>Carga del almacén de datos</h1>

  <div class="flex">
    <div class="responsiveTxt">
      Seleccione fuente:
    </div>

    <mat-list>
      <mat-list-item *ngFor="let o of opciones">o</mat-list-item>
    </mat-list>
  </div>

  <div class="flex" style="gap: 30px;">
    <button mat-button>Cancelar</button>
    <button mat-button>Cargar</button>
  </div>

  <div class="responsiveTxt">
    Resultados de la carga:
  </div>

  <div>
    <textarea ng-model="string" ng-name="text"></textarea>
  </div>

  <mat-list>
    <mat-list-item> Pepper </mat-list-item>
    <mat-list-item> Salt </mat-list-item>
    <mat-list-item> Paprika </mat-list-item>
   </mat-list>

</div>
